#app-container {
    width: 100%;
    max-width: none;
}

html {
    height: 100%;
}

body {
    background-color: #171c28;
    background-image: linear-gradient(#444754, #171c28 5%, #171c28, #444754 99%);
    color: #cfddee;
    font-size: 15px;
    height: 100%;
    margin: 0;
}

hr {
    margin: 0.3rem 0rem 20px;
}

H3 {
    color: #cfddee;
}

H4 {
    color: #cfddee;
    font-weight: 200;
}

H5 {
    color: #2c8cff;
    font-weight: 300;
    text-align: center;
    margin-right: 7%;
    width: 100%;
}

H5, H3 {
    font-family: Acumin, "Helvetica Neue", sans-serif;
}

P {
    color: #cfddee;
}

/*H1 {*/
/*    color: #000000;*/
/*    font-family: Verdana, Geneva, sans-serif;*/
/*    margin-bottom: 0;*/
/*    line-height: 50px;*/
/*    vertical-align: bottom;*/
/*}*/

/*H2 {*/
/*    color: #000000;*/
/*    font-family: "Open Sans", Verdana, Arial, sans-serif;*/
/*    font-size: 18px;*/
/*    margin: 0;*/
/*    line-height: 20px;*/
/*    vertical-align: middle;*/
/*}*/

#left-column {
    margin-top: 20px;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-column {
    background-color: #171c28;
    padding: 0rem 2rem;
}


/* Clear floats after the columns */
#columns-card:after {
    clear: both;
    content: " ";
    display: block;
}

#intro {
    margin: 20px 0px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: justify;
}

#control-card > p {
    font-weight: bold;
}


#upload-data-btn {
    position: absolute;
    height: 3rem;
    width: auto;
    margin-left: 91.5%;
    margin-bottom: 15px;
    align-items: center;
}

#upload-btn Img {
    transition: opacity 1s ease;
}

#upload-btn:hover Img {
    opacity: 40%;
}


#metadata-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #000000;
    border-width: 0;
}

.dash-tooltip:before, .dash-tooltip:after {
    border-bottom-color: #000000 !important;
}


.tab-outer {
    background-color: #ffffff;
    text-align: center;
}


.draglayer {
    cursor: pointer !important;
}

.banner {
    height: 4rem;
    margin-bottom: 1rem;
    padding: 2rem 2.25rem 0rem;
    background-image: linear-gradient(#353944, #171c28 80%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner Img {
    position: relative;
    height: 3rem;
    width: auto;
    margin-left: 2%;
}

.related-datatable {
    background-color: rgb(255, 255, 255);
    color: black;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table:hover {
    color: black !important;
    --accent: none !important;
    --hover: none !important;
}

.prev-patient {
    color: white;
    position: relative;
    float: left;
}

.results-card {
    position: relative;
    padding: 0rem 2rem;
    margin-left: 27.3125px;
}

/*.table-row:nth-child(even) {*/
/*    background-color: #272e41;*/
/*}*/


/*
  ##Device = Most of the Smartphones Mobiles / ipad (Portrait)
*/

@media only screen and (max-width: 750px), screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        font-size: 13px;
        margin: 0px;
    }

    .banner {
        height: 6rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #intro {
        margin: 10px 0px;
    }

    #left-column, #right-column {
        width: 100%;
        margin-left: 0px;
    }

    #right-column {
        padding: 0rem 0.5rem;
    }

    #reset-btn-outer {
        text-align: center;
    }

    .table-row > div {
        width: 100% !important;
        text-align: center;
        margin: auto;
    }

    /*.table-row:nth-child(even), .table-row:nth-child(odd) {*/
    /*    background-color: #FFFFFF;*/
    /*}*/
    #header {
        display: none;
    }

    .annotation-text {
        font-size: 0.8rem !important;
    }

}

tr:hover {
    background-color: rgba(0, 116, 217, 0.3) !important;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    /*border-radius: 8px;*/
}

*::-webkit-scrollbar-thumb {
    background-color: #2c8cff;
    /*border-radius: 8px;*/
}

::-webkit-scrollbar-thumb:hover {
    background: #0d6af1;
}